* text=auto eol=lf

*.blade.php diff=html
*.html diff=html
*.md diff=markdown
*.php diff=php
*.js linguist-vendored
*.css linguist-vendored
public/* linguist-vendored

resources/views/auth/** linguist-detectable=false
resources/views/layouts/** linguist-detectable=false
resources/views/vendor/pagination/** linguist-detectable=false

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
